<p id="notice"><%= notice %></p>

<p>
  <strong>Is intern:</strong>
  <%= @is_intern.is_intern %>
</p>

<%= link_to 'Edit', edit_is_intern_path(@is_intern) %> |
<%= link_to 'Back', is_interns_path %>
