<p id="notice"><%= notice %></p>

<p>
  <strong>Subjection:</strong>
  <%= @subjection.subjection %>
</p>

<%= link_to 'Edit', edit_subjection_path(@subjection) %> |
<%= link_to 'Back', subjections_path %>
